.calendar-section {
    margin-bottom: 30px;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.calendar-header h2 {
    font-size: 2rem;
    font-weight: 800;
}

.nav-arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--text-dark);
    cursor: pointer;
    padding: 0 10px;
}

.days-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 0 20px;
    gap: 10px;
}

.day-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    height: 80px;
    border-radius: 25px;
    position: relative;
    padding-top: 10px;
}

.day-item.active {
    background-color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-gray);
    /* Default gray */
    position: absolute;
    top: 10px;
}

.day-name {
    font-size: 0.8rem;
    color: var(--text-gray);
    margin-bottom: 5px;
}

.day-number {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark);
}